<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Employee bean definition -->
<bean id="student" class="com.app.lakshay.Student">
    <property name="id" value="101"/>
    <property name="name" value="Lakshay"/>
    <property name="marks" value="89.5"/>
</bean>

</beans>